@import "./../../../style/varable.scss";
.page{
  padding: 24px;
  height: 100%;
  overflow: auto;
}
.container{
  background: #fff;
  padding: 20px;
  height: 100%;
  border-radius: 4px;
}

.content{
  margin-top: 20px;
  .control{
    .add{
      i{font-size: 16px;margin-right: 4px}}
    .search{
      margin: 20px 0;
      .input-container{
        width: 300px;
        display: inline-block;
      }
      .select-container{
        width: 200px;
        display: inline-block;
        margin: 0 20px;
      }
      .search-button,.search-rest{
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
  .main{}
}