@import './../../../../style/varable.scss';

.head {
  width: 100%;
  box-shadow: $show;
  background: #fff;
  padding: 0 40px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: all .3s;
}

.logo-container {
  line-height: 60px;

  img {
    display: inline-block;
    width: 58px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: coco;
    font-weight: 800;
    line-height: 1.5;
    color: $em_color;
  }
}

.nav {
  text-align: right;
  line-height: 60px;

  li {
    position: relative;
    display: inline-block;
    color: $main_color;
    line-height: 2;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
  }

  li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $em_color;
  }

  li:hover::after {
    transition: all .1s linear;
    width: 100%;
  }

  :global {
    li.active::after {
      width: 100%;
    }
  }
}

.nav-icon-container {
  position: absolute;
  right: -10px;
  height: 60px;
  line-height: 60px;
  text-align: right;
}

@media (max-width: 993px) {
  .logo-container {
    text-align: center;
  }
}

ul.small-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  box-shadow: $show;
  //height: 0;
  //overflow: hidden;
  transition: all .3s;

  li {
    line-height: 60px;
    text-align: center;
    color: $main_color;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
  }

  li:hover {
    background: skyblue;
    color: #fff;
  }

  :global {
    li.active {
      background: skyblue;
      color: #fff;
    }
  }
}

